form{
    width: 100pc;
    color: burlywood;
    max-width: 480px;
    margin: auto;
    
    
    
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none; }

     .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      /* Twitter */
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      
        
    #d{
      width: 500px;
    }
    body  {
      width: fit-content;
      height: 100%;
    }
    #navbar{
      margin-bottom: 500px;
    }